<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="帅气">
    <meta name="description" content="帅气">
    <meta name="Author" content="帅气的苏某人">
    <title>Title</title>
    <style>
        body{font-family: 'Microsoft YaHei',serif}
        body,dl,dd,h1,p,h2,h3,h4,h5,h6{margin:0}
        ol,ul,li,a{margin:0;padding:0;list-style:none}
        a{text-decoration: none}
        img{border:none}


    </style>
</head>
<body>
    <h1>注册</h1>
    <form action="/login" method="post">
        用户名:<input type="text" name="name"></br>
        密码:<input type="text" name="password"></br>
        <input type="submit" value="提交">
    </form>
<script>

</script>
</body>
</html>